[Unit]
Description=Telegram bot
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/usr/bin/python /home/pi/telegram_bot/app.py <TOKEN> <CHAT_ID>
Restart=on-abort
 
[Install]
WantedBy=multi-user.target
